
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
}

section {
    padding: 50px 100px;
}

h1 {
    color: #a2efd5;
}

.headline-section {
    background-color: #174f43;
}